<div id="headerDiv">
  <header class="headerClass">
    <nav class="navbarClass" aria-label="Main">
      <div class="menuleft">
        <div class="menuItems" style="font-weight: bolder;" routerLink="">
          Credit card management system
        </div>
        <div class="menuItems" routerLink="/applications">
          Applications
        </div>
        <div class="menuItems" routerLink="/notifications">
          Notifications
        </div>
      </div>
      <div class="menuright">
        <div class="menuItems">
          Login
        </div>
      </div>
    </nav>
  </header>
</div>
