<nav class="bg-white h-10 shadow-xl">
  <div class="flex flex-row justify-between text-black" id="header-default">
    <div>
      <div class="font-bold pt-1 pl-3 pb-1 pr-0" routerLink="">
        Credit card management system
      </div>
    </div>
    <div>
      <button
        class="rounded bg-blue-700 hover:bg-blue-900 text-white px-8 py-1 border-x-2 border-t-2 border-white"
        routerLink="/addCustomer"
      >
        Add customer
      </button>
      <button
        class="rounded bg-blue-700 hover:bg-blue-900 text-white px-8 py-1 border-x-2 border-t-2 border-white"
        routerLink="/addApprover"
      >
        Add approver
      </button>
      <button
        class="rounded bg-blue-700 hover:bg-blue-900 text-white px-8 py-1 border-x-2 border-t-2 border-white"
        routerLink="/login"
      >
        Login
      </button>
    </div>
  </div>
</nav>
