<Header></Header>
<!--div class="flex justify-center top-2/4 left-2/4 m-auto p-2.5 bg-black text-white">texts</div-->
<div
  class="bg-contain flex flex-col min-h-screen justify-center items-center bg-fixed"
  style="background-image: url('../assets/sunset.jpeg')"
>
  <div
    class="mb-4 shadow-2xl bg-teal-100 border-t-4 border-teal-400 rounded-b text-teal-900 px-4 py-3"
    *ngIf="responseStatus === 1"
  >
    <p class="font-bold">Customer added successfully !</p>
    <p class="text-sm">Customer identity number is {{ this.generatedId }}</p>
  </div>
  <div
    class="mb-4 shadow-2xl bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded"
    *ngIf="responseStatus === 2"
  >
    <span class="block sm:inline"
      >Invalid customer details or the customer already exists</span
    >
  </div>
  <div
    class="mb-4 shadow-2xl bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded"
    *ngIf="responseStatus === 3"
  >
    <strong class="font-bold">Unknown error encountered!</strong>
  </div>
  <div
    class="mb-4 shadow-2xl bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded"
    *ngIf="responseStatus === 3"
  >
    <span class="block sm:inline">Password don't match up!</span>
  </div>

  <div
    class="bg-white rounded border-x-1 border-y-1 border-black shadow-2xl px-8 pb-8 pt-6 mb-4"
  >
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        First name
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="firstName"
        type="text"
        [(ngModel)]="firstName"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Last name
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="lastName"
        type="text"
        [(ngModel)]="lastName"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2"> Email </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="email"
        type="text"
        [(ngModel)]="email"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Contact number
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="number"
        type="text"
        [(ngModel)]="contact"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Password
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="password"
        type="password"
        [(ngModel)]="password"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Confirm password
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="confirmPassword"
        type="password"
        [(ngModel)]="confirmPassword"
      />
    </div>
    <button
      class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="button"
      (click)="addCustomer()"
    >
      Add
    </button>
  </div>
</div>
