<Header></Header>

<div
  class="bg-contain flex flex-col min-h-screen justify-center items-center bg-fixed"
  style="background-image: url('../assets/sunset.jpeg')"
>
  <!--div
    class="mb-4 shadow-2xl bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded"
    *ngIf="responseStatus === 1"
  >
    <span class="block sm:inline">Username or Password is incorrect !</span>
  </div>
  <div
    class="mb-4 shadow-2xl bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded"
    *ngIf="responseStatus === 2"
  >
    <strong class="font-bold">Unknown error encountered!</strong>
  </div-->
  <div
    class="mb-4 max-w-xs bg-white border border-gray-200 rounded-xl shadow-lg"
    role="alert"
    *ngIf="responseStatus === 1"
  >
    <div class="flex p-4">
      <div class="flex-shrink-0">
        <svg
          class="flex-shrink-0 size-4 text-red-500 mt-0.5"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
          ></path>
        </svg>
      </div>
      <div class="ms-3">
        <p class="text-sm text-gray-700">Username or Password is incorrect !</p>
      </div>
    </div>
  </div>
  <div
    class="mb-4 max-w-xs bg-white border border-gray-200 rounded-xl shadow-lg"
    role="alert"
    *ngIf="responseStatus === 2"
  >
    <div class="flex p-4">
      <div class="flex-shrink-0">
        <svg
          class="flex-shrink-0 size-4 text-red-500 mt-0.5"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
          ></path>
        </svg>
      </div>
      <div class="ms-3">
        <p class="text-sm text-gray-700">Unknown error encountered!</p>
      </div>
    </div>
  </div>

  <div
    class="bg-white rounded border-x-1 border-y-1 border-black shadow-2xl px-8 pb-8 pt-6 mb-4"
  >
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Select role
      </label>
      <select
        class="shadow bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        [(ngModel)]="userRole"
      >
        <option value="1" selected>Customer</option>
        <option value="2">Approver</option>
      </select>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        User name
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="userId"
        type="text"
        [(ngModel)]="userId"
      />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Password
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="rawPassword"
        type="password"
        [(ngModel)]="rawPassword"
      />
    </div>
    <button
      class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="button"
      (click)="login()"
    >
      Login
    </button>
  </div>
</div>
