<nav class="bg-white h-10 shadow-xl">
  <div class="flex flex-row justify-between text-black">
    <div>
      <div class="font-bold pt-1 pl-2 pb-1 pr-0" routerLink="/customer">
        Credit card management system
      </div>
    </div>
    <div>
      <button class="mr-10" routerLink="/notifications">
        <svg
          class="h-10 w-10 text-gray-900"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" />
          <path
            d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"
          />
          <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
        </svg>
      </button>

      <button (click)="logout()">
        <svg
          class="h-10 w-10 text-gray-900"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" />
          <path
            d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
          />
          <path d="M7 12h14l-3 -3m0 6l3 -3" />
        </svg>
      </button>
    </div>
  </div>
</nav>
