<CustomerHeader></CustomerHeader>
<div
  class="bg-contain flex flex-col min-h-screen justify-start bg-fixed"
  style="background-image: url('../assets/professional-unsplash.jpg')"
>
  <div class="ml-5 flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-48 inline-block align-middle">
        <div class="border rounded-lg shadow overflow-hidden">
          <table class="min-w-48 bg-white divide-y divide-gray-200">
            <tbody class="divide-y divide-gray-200">
              <tr *ngFor="let notification of notifications">
                <td>#{{ notification.id }} : {{ notification.description }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
